In [31]:
import pandas as pd

In [32]:
df_random = pd.read_csv('../03_data/PV_results.csv')

In [33]:
df_random.head()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Ipv_A,Vpv_V,Ppv_W
0,0.000,1000,50.0,0.000000,0.000000,40.362011,0.004036,0.162909
1,0.001,1000,50.0,0.260303,0.026030,6.074893,32.276763,196.077898
2,0.002,1000,50.0,0.978889,0.097889,12.215173,31.706854,387.304701
3,0.003,1000,50.0,2.123513,0.212351,18.067253,31.082378,561.573175
4,0.004,1000,50.0,3.658912,0.365891,23.601615,30.371280,716.811265

In [34]:
df_random.describe()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Ipv_A,Vpv_V,Ppv_W
count,40001.000000,40001.000000,40001.000000,40001.000000,40001.000000,40001.000000,40001.000000,40001.000000
mean,20.000000,604.989875,40.124747,73.076119,7.307612,22.226170,27.739993,612.465991
std,11.547438,230.930943,5.773274,13.265905,1.326590,8.504933,0.648917,224.785807
min,0.000000,200.000000,30.000000,0.000000,0.000000,6.074893,-0.894566,-36.080849
25%,10.000000,400.000000,35.000000,62.888744,6.288874,14.848703,27.353549,421.808691
50%,20.000000,600.000000,40.000000,75.255009,7.525501,22.213520,27.767826,621.766097
75%,30.000000,800.000000,45.000000,84.637548,8.463755,29.589790,28.169289,810.995484
max,40.000000,1000.000000,50.000000,92.090830,9.209083,40.362011,32.276763,985.108485

In [35]:
df_random.shape

(40001, 8)

In [36]:
import numpy as np

In [37]:
N = len(df_random)
target = 1000
chunk_size = N // target

In [38]:
rows_random = []

for i in range(target):
    start_idx = i * chunk_size
    end_idx = start_idx + chunk_size
    chunk = df_random.iloc[start_idx:end_idx]
    rows_random.append(chunk.mean(numeric_only=True))

df_random_reduced = pd.DataFrame(rows_random)

In [39]:
df_random_reduced.head()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Ipv_A,Vpv_V,Ppv_W
0,0.0195,1000.0,50.0,41.349453,4.134945,34.335348,21.829730,705.178038
1,0.0595,1000.0,50.0,86.386370,8.638637,36.511980,26.779975,976.843035
2,0.0995,1000.0,50.0,91.382273,9.138227,36.750226,26.781053,984.205190
3,0.1395,1000.0,50.0,91.843344,9.184334,36.766509,26.769900,984.234633
4,0.1795,1000.0,50.0,91.891217,9.189122,36.752420,26.780086,984.231718

In [40]:
df_random_reduced.shape

(1000, 8)

In [41]:
df_random_reduced.tail()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Ipv_A,Vpv_V,Ppv_W
995,39.8195,210.0,30.25,45.503189,4.550319,7.689774,28.112714,216.136465
996,39.8595,210.0,30.25,45.503720,4.550372,7.685777,28.130151,216.160534
997,39.8995,210.0,30.25,45.503895,4.550389,7.683861,28.136420,216.154198
998,39.9395,210.0,30.25,45.503962,4.550396,7.683323,28.138019,216.151018
999,39.9795,210.0,30.25,45.503478,4.550348,7.683862,28.136391,216.154018

In [42]:
df_random["Irradiance_Wm2"].min(), df_random["Irradiance_Wm2"].max()

(np.int64(200), np.int64(1000))