In [2]:
import pandas as pd

In [3]:
df_sine = pd.read_csv('../03_data/PV_results_sine.csv')

In [4]:
df_sine.head()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Vpv_V,Ipv_A,Ppv_W
0,0.00000,800.629447,30.004058,0.000001,1.280931e-07,1.601282,31.962520,51.181012
1,0.00001,799.870841,30.008151,0.000002,1.801963e-07,4.786634,31.825364,152.336359
2,0.00002,800.138162,30.004045,0.000002,2.402132e-07,7.965510,31.716298,252.636482
3,0.00003,799.692423,30.004474,0.000002,2.401404e-07,11.127224,31.578857,351.385010
4,0.00004,800.613626,30.009078,0.000002,2.400676e-07,14.275758,31.497066,449.644483

In [5]:
df_sine.isnull().sum()

Time_s            0
Irradiance_Wm2    0
Temperature_C     0
Vbus_V            0
IBoost_A          0
Vpv_V             0
Ipv_A             0
Ppv_W             0
dtype: int64

In [6]:
df_sine_clean = df_sine[~(df_sine < 0).any(axis=1)].reset_index(drop=True)

In [7]:
df_sine_copy = df_sine_clean.copy()
# number of desired samples 
target_rows = 1000
# computing how many rows to combine per avg
rows_per_avg = len(df_sine_copy) // target_rows
print(f"Combining every {rows_per_avg} rows to get approximately {target_rows} samples.")

Combining every 199 rows to get approximately 1000 samples.

In [8]:
# grouping and averaging
df_sine_reduced = df_sine_copy.groupby(df_sine_copy.index // rows_per_avg).mean()
print(f"New shape after reducing: {df_sine_reduced.shape}")

New shape after reducing: (1004, 8)

In [9]:
df_sine_reduced.to_csv('../03_data/desampled/PV_results_sine_reduced.csv', index=False)
df_sine_reduced.head

<bound method NDFrame.head of         Time_s  Irradiance_Wm2  Temperature_C     Vbus_V  IBoost_A      Vpv_V  \
0     0.001018      800.323742      29.993982   0.326569  0.032657  33.450118
1     0.003010      800.130162      29.993563   2.224067  0.222407  32.769092
2     0.005000      799.318773      29.972522   5.746318  0.574632  26.576928
3     0.008160      799.850666      30.014934  12.533754  1.253375   9.238152
4     0.010620      802.973658      30.022336  18.071778  1.807178  11.675053
...        ...             ...            ...        ...       ...        ...
999   1.990670      887.674518      30.607014  91.876841  9.187684  30.078670
1000  1.992660      886.836954      30.627533  91.369268  9.136927  29.390991
1001  1.994650      890.240066      30.636211  90.916483  9.091648  28.538714
1002  1.996640      886.588622      30.612872  91.230883  9.123088  29.005904
1003  1.997735      879.514553      30.613241  91.445261  9.144526  29.130456

          Ipv_A       Ppv_W
0      8.356144  256.413071
1     19.156405  625.672074
2     29.149925  766.929886
3     31.545794  290.408535
4     31.574133  367.942223
...         ...         ...
999   31.438185  945.604954
1000  32.327385  950.010467
1001  33.268514  949.420834
1002  32.761307  950.253233
1003  32.386381  943.426814

[1004 rows x 8 columns]>

In [10]:
flag = (df_sine_reduced < 0).any().any()

if flag:
    print("There are negative values!")
else:
    print("No negative values found.")

No negative values found.

In [11]:
df_sine_reduced.describe()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Vpv_V,Ipv_A,Ppv_W
count,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000
mean,1.000639,845.581276,30.312773,88.570358,8.857036,29.370695,30.715516,901.628239
std,0.577056,25.670275,0.180319,7.633136,0.763314,1.468099,1.344911,55.303492
min,0.001018,796.046807,29.972522,0.326569,0.032657,6.467165,8.356144,204.431749
25%,0.501653,823.702752,30.159509,88.560581,8.856058,29.268734,29.902239,883.193151
50%,1.000645,845.941918,30.313582,89.584896,8.958490,29.560477,30.782020,906.576819
75%,1.499638,867.872221,30.465826,90.578002,9.057800,29.738297,31.554804,929.238816
max,1.997735,890.854133,30.636211,91.876841,9.187684,33.450118,33.268514,954.886139