In [1]:
import pandas as pd

In [2]:
df_sine = pd.read_csv('../03_data/PV_results_sine.csv')

In [3]:
df_sine.head()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Vpv_V,Ipv_A,Ppv_W
0,0.00000,800.629447,30.004058,0.000001,1.280931e-07,1.601282,31.962520,51.181012
1,0.00001,799.870841,30.008151,0.000002,1.801963e-07,4.786634,31.825364,152.336359
2,0.00002,800.138162,30.004045,0.000002,2.402132e-07,7.965510,31.716298,252.636482
3,0.00003,799.692423,30.004474,0.000002,2.401404e-07,11.127224,31.578857,351.385010
4,0.00004,800.613626,30.009078,0.000002,2.400676e-07,14.275758,31.497066,449.644483

In [6]:
df_sine.describe()

,Time_s,Irradiance_Wm2,Temperature_C,Vbus_V,IBoost_A,Vpv_V,Ipv_A,Ppv_W
count,199784.000000,199784.000000,199784.000000,199784.000000,1.997840e+05,199784.000000,199784.000000,199784.000000
mean,0.998915,845.512290,30.312267,88.502798,8.850280e+00,29.342812,30.714586,900.703752
std,0.576728,25.775818,0.180708,7.956288,7.956288e-01,1.807869,1.384743,64.167747
min,0.000000,791.902240,29.929939,0.000001,1.280931e-07,-7.613105,-13.952329,-489.762467
25%,0.499457,823.483494,30.158871,88.566656,8.856666e+00,29.260392,29.903086,883.103412
50%,0.998915,846.184683,30.312998,89.599022,8.959902e+00,29.563234,30.775216,906.826549
75%,1.498372,867.806709,30.465477,90.572554,9.057255e+00,29.763791,31.550237,929.252580
max,1.997830,896.678007,30.657687,92.111147,9.211115e+00,35.112723,33.645489,961.065700

In [5]:
df_sine.shape

(199784, 8)